<div class="well researchTable">
	
	<div class="row">
		<div class="col-md-11">
			<h3>Crop Sessions</h3>	
		</div>
		<div class="col-md-1">
			<h4><a><i class="fa fa-plus-square fa-2x" style=""></i></a></h4>
		</div>
	</div>
		
	<div class="panel panel-default">
			
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th class=""><strong>Name</strong></th>
				<th class=""><strong>Type</strong></th>
				<th class=""><strong>Start Date</strong></th>
				<th class=""><strong>Delete</strong></th>
			</tr>
			</thead>	
			<tbody>
			<tr ng-model="crops" ng-repeat="crop in cropList">
				<td class=""><p>{{ crop.name }}</p></td>
				<td class=""><p>{{ crop.type }}</p></td>
				<td class=""><p>{{ crop.startDate }}</p></td>
				<td class=""><button>delete</button></td>
			</tr>
			</tbody>
		</table>

	</div>
</div>