<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-list-ul"></i> Summary</h3>
  </div>
  <table class="table table-bordered">
    <tr>
      <td>Crop Type</td>
      <td>{{ getCropTypeName() }}</td>
    </tr>
    <tr>
      <td>Start Date</td>
      <td>{{ data.cropSession.startDate | date:'short'}}</td>
    </tr>
    <tr>
      <td>Area (acre)</td>
      <td>{{ data.cropSession.area }}</td>
    </tr>
    <tr>
      <td>Session Length (days)</td>
      <td>{{ getCropSessionLength() }}</td>
    </tr>
  </table>
</div>
