<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Overview</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-sun-o fa-fw"></i>Today's Weather
            </div>
            <!-- /.panel-heading -->
            <!-- <h1>Weather widget placeholder</h1> -->
            <div class="panel-body weather-spacing">
                <weather location="location"></weather>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!--/ .col-lg-6 -->


    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cloud fa-fw"></i> Rainfall
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- <h1>Rain widget placeholder</h1>                    -->
                <google-map center='map.center' draggable="true"zoom='map.zoom' id="signup-map">
                    <layer type="WeatherLayer" namespace="weather" show="true" options="map.weatherLayer"></layer>
                    <layer type="CloudLayer" namespace="weather" show="true"></layer>
                </google-map>
            </div>
        </div>
    <!-- /.panel -->
</div>
<!--/ .col-lg-6 -->

</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-map-marker fa-fw"></i>Rainfall Map
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <google-map center='map.center' zoom='map.zoom' id="signup-map"></google-map>
        </div>
    </div>
</div>

</div>
