<!--Content-->
<div transition-to-section transition-delay="700">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">Pragma</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#benefits">Benefits</a>
        </li>
        <li><a href="#faq">FAQ</a>
        </li>
        <li><a href="#about">About Us</a>
        </li>
        <li><a ui-sref="login"><i class="fa fa-user fa-fw"></i>Login</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<div id="home" class="intro-header">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message-box">
          <div class="intro-message">
            <h1>Irrigation reinvented!</h1>

            <h3>A pragmatic approach to optimize your irrigation</h3>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->


<div id="benefits" class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Farmer</h2>
        <ul class="list-group">
          <li class="list-group-item">Determine irrigation requirements for your crops</li>
          <li class="list-group-item">Customized for your geographic location</li>
          <li class="list-group-item">Supports wide range of crop types</li>
          <li class="list-group-item">No on-site equipment, uses satellite data</li>
          <li class="list-group-item">Keep track of your irrigation</li>
        </ul>
        <a href="#signup-farmer" class="btn btn-success btn-lg"><span class="network-name">Sign Up</span></a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive imagedropshadow" src="images/farmer.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Researcher</h2>

        <p class="lead">As a researcher you will greatly benefit from:</p>
        <ul class="list-group">
          <li class="list-group-item">Access and download historical climate data</li>
          <li class="list-group-item">Wide range of hydro-climate variables</li>
          <li class="list-group-item">Filter by location, date or variables</li>
          <li class="list-group-item">Updated daily</li>
          <li class="list-group-item">Powered by NOAA’s data</li>
        </ul>
        <a href="#signup-researcher" class="btn btn-primary btn-lg"><span class="network-name">Sign Up</span></a>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive imagedropshadow" src="images/researcher.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div id="faq" class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Frequently Asked Questions</h2>

        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <p class="lead"><strong>Who is GreenDev?</strong><br>
              We are a technology company focused on providing agriculture solutions in the Caribbean region.
            </p>

            <p class="lead"><strong>What is Pragma?</strong><br>
              Pragma is our irrigation management solution.
            </p>

            <p class="lead"><strong>How are irrigation requirements calculated?</strong><br>
              Irrigation requirements calculations are based on various hydro-climate variables that are obtained and/or
              estimated for your geographic location. The volume of irrigation directly depends on a crop’s
              evapotranspiration, rainfall and the crop’s growth stage. For more information click
              <a href="http://pragwater.com/2012/03/29/simple-irrigation-scheduling-tool-for-puerto-rico/">here</a>.
            </p>
          </div>

          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <p class="lead"><strong>What advantages does it have for a farmer?</strong><br>
              A farmer will be able to effectively manage a crops growth using your farms geographical location and
              exploiting satellite and radar data.
            </p>

            <p class="lead"><strong>What type of data is available for researchers?</strong><br>
              Because Pragma records hydro-climate data of Puerto Rico, Pragma provides access to such data for research
              purposes to registered scientists.
            </p>

            <p class="lead"><strong>Who is behind this scientific method in Puerto Rico?</strong><br>
              In Puerto Rico, there is substantial amount of research regarding crop’s water requirement. Dr. Eric
              Harmsen from the Agricultural Engineering Department at UPRM is a lead researcher in the field and has
              contributed to the development of the GOES-PRWEB algorithm that powers Pragma.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div id="about" class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img class="img-responsive" src="images/logo-greendev.png" alt="">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">About Us</h2>

        <p class="lead">
          We are a technology company focused on empowering farmers in Puerto Rico. We provide products that aid your
          irrigation needs. Pragma® is our latest solution, it provides farmers with accurate* and relevant data to
          professionally irrigate your crops. With just a low monthly subscription you gain access to Pragma’s® unique
          crop growth management service as well as, access to our historical hydro-climate database.
        </p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->
</div>
