<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Plot Data</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-map-marker"></i> Location & Parameter</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-9">
            <google-map center='map.center' zoom='map.zoom' draggable='true' options="map.options" id="plot-map">
            <marker coords='marker.coords' options='marker.options' events="marker.events"></marker>
          </google-map>
        </div>
        <div class="col-lg-3">
          <form>
            <div class="form-group">
              <label for="latitude">Latitude</label>
              <input class="form-control" id="latitude" ng-model="marker.coords.latitude">
            </div>
            <div class="form-group">
              <label for="longitude">Longitude</label>
              <input class="form-control" id="longitude" ng-model="marker.coords.longitude">
            </div>
            <div class="form-group">
              <label for="variable">Variable</label>
              <select class="form-control" id="variable" ng-model="variable" ng-options="v.variableName for v in variables"></select>
            </div>
            <div class="form-group">
              <label for="startdate">Start Date</label>
              <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ datePicker.format }}" ng-model="startDate.value" is-open="startDate.opened" min="datePicker.minDate" max="maxDate" datepicker-options="datePicker.dateOptions"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="startDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="enddate">End Date</label>
              <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ datePicker.format }}" ng-model="endDate.value" is-open="endDate.opened" min="startDate.value" max="maxDate" datepicker-options="datePicker.dateOptions"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="endDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <button class="form-control btn btn-primary" ng-click="plotData()">Plot Data</button>
                </div>
                <div class="col-lg-6">
                  <a href="http://spragma.ece.uprm.edu" class="form-control btn btn-primary">Download Data</a>
                </div>
              </div>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Timeseries</h3></div>
      <div class="panel-body">
        <highchart id="timeseries-chart" config="timeseriesConfig"></highchart>
      </div>
    </div>
  </div>
</div>

