<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="signup-farmer panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Farmer! Sign up to Pragma!</h3>
        </div>
        <div class="panel-body">
          <form role="form" name="signupForm" ng-submit="register(signupForm)" novalidate>
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Name" name="name" ng-model="user.name" required>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Last Name" name="lastname" ng-model="user.lastName" required>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Organization" name="organization" ng-model="user.organization" required>
              </div>
              <div class="form-group">
                <label for="address">Where is your farm located?</label>
                <div style="position: relative">
                  <div class="map-panel">
                    <input type="text" id="address" ng-model="address">
                    <a class="btn btn-primary" ng-click="searchAddress()">Search</a>
                  </div>
                  <google-map center="map.center" zoom="map.zoom" control="map.control" bounds="map.bounds" draggable="true" id="signup-map" events="map.events">
                    <marker coords='marker.coords' options='marker.options' events="marker.events"></marker>
                  </google-map>
                </div>
              </div>

              <div class="form-group">
                <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="user.email" required>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password" required>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Confirm Password" name="confirmPassword" type="password" ng-model="confirmedPassword" required>
              </div>
          </fieldset>
          <!-- Change this to a button or input when using this as a form -->
          <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="!signupForm.$valid">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
